/* this css works */
/* connect with me and check out on about me/index */
  

  /* !!!css for main page responsive!!! */

  /* ? innana dabreau top left nav bar */
a.brand-logo {
  font-size: 40px;
  color: black;
  font-family: fantasy;
}

/* ?TOPLEFT NAVBAR LINKS */
a.topLeft {
  color: black;
}

div.nav-wrapper {
  background: aliceblue;
}

















  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


html {
  margin-top: 0;
  padding-top: 0;
}

body {
  margin-top: 0;
  padding-top: 0;
  background-color: bisque; 
}

h1 {
  margin-left: -100px;
  font-size: 3rem;
  font-family: fantasy;
  margin-top: 77px;
  
}

h2 {
  font-size: 2.8rem;
  padding: 10px 0px;
  font-family: fantasy;
}

header {
  height: 10%;
}

/* nav {
  width: 100%;
  height: 10%;
  border-bottom: 2px solid gold;
  background-color: aliceblue;
} */

.nav {
  width: 960px;
  height: 19%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* #idm {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: black;
  margin: 0px 0px 0px 0px;
  padding: 10px 15px 10px 15px;
  height: 150px;
} */

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-right: -40;
  margin-left: 28;
  margin-top: 74;
}

.navlist li {
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}

.navlist li a {
  font-family: fantasy;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}

.navlist li a:hover {
  color: goldenrod;
  text-decoration: underline;
  font-weight: bolder;
}

.wrap {
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 1rem;
  margin: 0 auto;
}

.wrap2 {
  width: 960px;
  height: -400px;
  margin: 40px 0px;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 10px;
}

.content {
  background-color: white;
  padding: 11px;
}
/* !remove */
h1.UC {
  font-size: 80px;
  color: red;
  text-align: center;
}

.bio {
  border-top: 2px solid aliceblue;
  padding: 10px;
  background-color: white;
}

.bio p {
  margin-top: 10px;
}

footer {
  border-top: 2px solid gold;
  background-color: aliceblue;
  color: #000;
  width: 100%;
  height: 65px;
  font-size: .100rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  color: black;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}



@media only screen and (max-width: 640px) {
   
    
    .navset {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        display: block;
    }

    .navlist li a {
        font-size: 3.25rem;
    }

    .another_wrapper {
        width: 430px;
        margin: 10px 0px;
        padding: 5px 5px;
    }

    #name {
        width: 100%;
        padding: 5px;
        margin: 0 auto;

    }

    .navlist li {
        justify-content: space-around;
        margin: 5px;
       
    }

    .navlist li a {
        font-size: 3.25rem;
    }

    .another_wrapper {
        margin: 10px 0px;
        width: 430px;
        padding: 5px 5px;
    }

    .wrapper {
        width: 430px;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      
        width: 100%;
      
    }
    
  }

  @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    
  }
  
  @media only screen and (max-width: 980px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }


/* !CAME FROM STYLE.CSS MOVED INTO STYLE2 */
  /* !!!CSS ABOUT/INDEX PAGE!!! */

  /* ? INNANA D'ABREAU top left nav bar */
  a.brand-logo {
    margin-top: 15px;
  font-size: 50px;
  font-weight: 900, bold;
  
  color: black;
  font-family: fantasy;
}
a.brand-logo:hover {
    color: goldenrod;
}

/* ?TOPLEFT NAVBAR LINKS */
a.topLeft {
  color: black;
  font-size: 28px;
  font-family: fantasy;
  margin: 15px;
}
a.topLeft:hover {
    color: goldenrod;
}

/* ?actual navbar */
div.nav-wrapper {
  background: seashell;
  padding: 10px;
  height: 90px;
}

/* ?color behind content in container ie background color */
body {
    background: bisque;
}

/* ?ice blue box that holds page content */
div.content {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: goldenrod;
    background-color: aliceblue;
    margin: 48px;
    padding: 30px;
  }
  
  /* ?who am i text on about me/index */
  h2#WAI {
      text-align: center;
      padding-bottom: 50px;
      font-weight: 600;
  }
  
  /* ?this aligns the idm img and text inside div.content on index */
  div.bio {
      text-align: center;
  }
  
  /* ?text under idm img on about/index */
  p#indexBio {
      font-weight: 400;
      font-size: 22px;
  }
  /* ?check out my portfolio text in bottom of bio box index */
  p.strong {
      font-size: 20px;
      font-weight: 700;
  
  }
  
/* ?footer at bottom of page that holds copyright */
footer.page-footer {
  background: seashell;
}

/* ?copyright text inside of footer */
p.footertext {
  color: goldenrod;
  text-align: center;
}

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* !CSS PORTFOLIO HTML!   */

/* ?text on port page that says PORTFOLIO */
h2#portfolio {
  font-family: fantasy;
  font-weight: 600;
  margin-bottom: 20px
}

/* ?div that wormhole button is in,port page, SETS POSITION  */
div#wormholeButt {
  position: absolute;
  right: 400px;
  top: 170px;
}

/* ?ENTER THE WORMHOLE button on port page */
button {
  height: 45px;
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
/* ?chrome,safari WEBKIT creates glowing button */
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

/* ?text on port page that says CUSTOM SHOES, ARTWORK, WEBSITES */
p.portSection {
  font-size: 50px;
  font-weight: 800px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: fantasy;
  text-decoration: underline;
}

/* ?materialize card holds port pics and info/links */
div.card.small {
  width: 310px;
  margin: 20px;
  margin-top: 40px;
  height: 311px;
}
/* ?img inside of card.small port page */
img {
  width: 320px;
  height: 180px;


}
/* ?project title/ text under imgs on port page */
p.proTit {
  font-size: 22px;
  font-weight: 400; 

}


.fSA {
  font-size: 15px;
}