
  /* !!!css for main page responsive!!! */

  /* ? INNANA D'ABREAU top left nav bar */
  a.brand-logo {
      margin-top: 15px;
    font-size: 50px;
    font-weight: 900, bold;
    
    color: black;
    font-family: fantasy;
  }
  a.brand-logo:hover {
      color: goldenrod;
  }
  
  /* ?TOPLEFT NAVBAR LINKS */
  a.topLeft {
    color: black;
    font-size: 28px;
    font-family: fantasy;
    margin: 15px;
  }
  a.topLeft:hover {
      color: goldenrod;
  }
  
  /* ?actual navbar */
  div.nav-wrapper {
    background: seashell;
    padding: 10px;
    height: 90px;
  }

  /* ?color behind content in container ie background color */
  body {
      background: bisque;
  }

  /* ?ice blue box that holds page content */
  div.content {
      border-style: solid;
      border-radius: 2px;
      border-width: 1px;
      border-color: goldenrod;
      background-color: aliceblue;
      margin: 48px;
      padding: 30px;
    }
    
    /* ?who am i text on about me/index */
    h2#WAI {
        text-align: center;
        padding-bottom: 50px;
        font-weight: 600;
    }
    
    /* ?this aligns the idm img and text inside div.content on index */
    div.bio {
        text-align: center;
    }
    
    /* ?text under idm img on about/index */
    p#indexBio {
        font-weight: 400;
        font-size: 22px;
    }
    /* ?check out my portfolio text in bottom of bio box index */
    p.strong {
        font-size: 20px;
        font-weight: 700;
    
    }
    
/* ?footer at bottom of page that holds copyright */
footer.page-footer {
    background: seashell;
}

/* ?copyright text inside of footer */
p.footertext {
    color: goldenrod;
    text-align: center;
}

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */