html {
    margin-top: 0;
    padding-top: 0;
}

body {
    margin-top: 0;
    padding-top: 0;
    background-color: bisque; 
}
/* h1 relates to index */
h1 {
    margin-left: -100px;
    font-size: 3rem;
    font-family: fantasy;
    margin-top: 77px;
}
/* h3 relates to contact html */
h3 {
    margin-left: -100px;
    font-size: 3rem;
    font-family: fantasy;
    margin-top: 15px;
    margin-bottom: 7px;
}
/* h2 relates to index portfolio and contact html */
h2 { 
    font-size: 2.8rem;
    padding: 10px 0px;
    font-family: fantasy;
    margin: 0;
}
/* h4 relates to portfolio html */
h4 {
    margin-left: -100px;
    font-size: 3rem;
    font-family: fantasy;
    margin-top: 15px;
    margin-bottom: 7px;
}

header {
    height: 10%;
}

nav {
    width: 100%;
    height: 10%;
    border-bottom: 2px solid gold;
    background-color: aliceblue;
}


#idm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    height: 146px;
}
#contactIdm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 15px;
    height: 78px;
}

#portfolioIdm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    height: 78px;
}

footer {
    border-top: 2px solid gold;
    background-color: aliceblue;
    color: #000;
    width: 100%;
    height: 70px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.nav {
    width: 960px;
    height: 19%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0px;
}

.contactNav {
    width: 960px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0px;
}

.navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: -40;
    margin-left: 28;
    margin-top: 74;
}
.contactNavList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: -40;
    margin-left: 28;
    margin-top: 74;
}

.portfolioNavList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: -40;
    margin-left: 28;
    margin-top: 74;
}

.navlist li {
    justify-content: space-around;
    margin: 2px;
    padding: 10px;
}

.contactNavList li {
    justify-content: space-around;
    margin: 2px;
    padding: 10px;
}

.portfolioNavList li {
    justify-content: space-around;
    margin: 2px;
    padding: 10px;
}

.navlist li a {
    font-family: fantasy;
    text-decoration: none;
    font-size: 21px;
    font-weight: bolder;
    color: black;
}
.contactNavList li a {
    font-family: fantasy;
    text-decoration: none;
    font-size: 21px;
    font-weight: bolder;
    color: black;
}

.portfolioNavList li a {
    font-family: fantasy;
    text-decoration: none;
    font-size: 21px;
    font-weight: bolder;
    color: black;
}

.navlist li a:hover {
    color: goldenrod;
    text-decoration: underline;
    font-weight: bolder;
}
.contactNavList li a:hover {
    color: goldenrod;
    text-decoration: underline;
    font-weight: bolder;
}

.portfolioNavList li a:hover {
    color: goldenrod;
    text-decoration: underline;
    font-weight: bolder;
}

.wrap {
    width: 960px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 1rem;
    margin: 0 auto;
}

.wrap2 {
    width: 960px;
    height: -400px;
    margin: 40px 0px;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 10px;
}

.content {
    background-color: white;
    padding: 11px;
}

.bio {
    border-top: 2px solid aliceblue;
    padding: 10px;
    background-color: white;
}

.bio p {
    margin-top: 10px;
}

.form {
    margin: 0 auto;
    font-family: fantasy;
    font-size: 16px;
}

.formbox {
    width: 80%;
}

.message {
    height: 125px;
    width: 80%;
    word-wrap: normal;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}

.button {
    border: 1px ridge black;
    background-color: white;
    font-family:  fantasy;
    font-size: 1rem;
}

.portBox {
    border-top: 1px black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
}

.portCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background-color: #fff;
    z-index: 2;
    object-fit: fill;
    position: relative;
}

.portImg {
    height: 200px;
    width: 200px;
}

.portBanner {
    width: inherit;
    color: black;
    background-color: aliceblue;
    height: 25px;
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}
button {
    display: ruby;
    color: black;
    font-size: 18px;
    background-color: gold;
}

button hover {
    color: aliceblue;
}

.strong {
    font-weight: bolder;
}



/* BELOW IS WORMHOLE */

#wormhole {
    margin: auto;
    padding: 20;
    border: solid;
    background-color: aliceblue;
    height: 380px;
    width: 500px;
  
}
